node_modules
npm-debug.log
.next
out
.env
.env.*
.git
.gitignore
.github
.vscode
.idea
*.md
README.md
.eslintrc.json
.prettierrc
tsconfig.json
public/mockServiceWorker.js
coverage
.cache
Dockerfile
.dockerignore
*.log
.DS_Store
